@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #1e3c72;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

* {
  font-family: 'Montserrat', sans-serif !important;
}

button {
  border-radius: 0 !important;
  box-shadow: none !important;
  height: 40px !important;
}

input, textarea {
  min-height: 40px !important;
  border: 1px solid #8f9398 !important;
  border-radius: 2px !important;
}

input.focus, textarea.focus {
  outline: none;
  box-shadow: none !important;
}


.ant-form-item {
  margin-bottom: 0px !important;
}

a:hover {
  color: #00a9ff !important;
}
